<div id="listToolbarDiv">
    <img data-dojo-attach-point="imgSHP" src="" alt="Download Facilities as a shapefile" title="Download Facilities as a shapefile" data-dojo-attach-event="onclick: _saveShapefile" />
    <img data-dojo-attach-point="imgCSV" src="" alt="Download Facilities in CSV format" title="Download Facilities in CSV format" data-dojo-attach-event="onclick: _saveCSVfile" />    
    <img data-dojo-attach-point="imgKML" src="" alt="Add Facilities to Google Earth" title="Add Facilities to Google Earth" data-dojo-attach-event="onclick: _saveKML" />    
<div data-dojo-attach-point="loadNode"></div>
</div>

 


